---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import VideoSection from "../components/HeroSection.astro";
import ModelY from "../components/ModelY.astro";
import Model3 from "../components/Model3.astro";
import ModelS from "../components/ModelS.astro";
import ModelX from "../components/ModelX.astro";
import PowerWall from "../components/PowerWall.astro";
import Accesorios from "../components/Accesorios.astro";
---

<Layout title="Coches eléctricos, energía solar y limpia | Tesla España">
	<Header />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-hidden">
		<div class="snap-center text-white">
			<ModelY />
		</div>
		<div class="snap-center text-white">
			<Model3 />
		</div>
		<div class="snap-center text-white">
			<ModelS />
		</div>
		<div class="snap-center text-white">
			<ModelX />
		</div>
		<div class="snap-center text-white">
			<VideoSection />
		</div>
		<div class="snap-center text-white">
			<PowerWall />
		</div>
		<div class="snap-center text-white">
			<Accesorios />
		</div>
	</main>
</Layout>
