<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="black"
    >
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-[90px] text-[40px] font-medium">Accesorios</h2>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-[138px]">
            <div>
                <a
                    class="w-60 bg-white text-[12px] rounded font-medium text-black px-4 py-2 inline-block transition-colors hover:bg-gray-200 text-center"
                    href="#"
                >
                    Comprar ahora
                </a>
            </div>
        </footer>
        
        
    </div>

    <div class="absolute top-0 bottom-0 z-10 h-full w-full">
        <img
            src="/public/accesorios.avif"
            alt="powerwall"
            class="h-full w-full object-cover object-center"
        />
    </div>

</section>
