<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="white"
    >
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-[100px] text-[40px] font-medium">Model S</h2>
        </header>

        <footer class="flex flex-col flex-grow justify-end pt-80">
            <div class="flex gap-x-4 m-auto w-full max-w-lg">
                <a
                    class="w-80 bg-gray-900 text-[12px] rounded font-medium text-white px-4 py-2 inline-block transition-colors hover:bg-gray-600 text-center"
                    href="#"
                >
                    Encargar
                </a>
                <a
                    class="w-80 bg-white text-[12px] rounded font-medium text-black px-4 py-2 inline-block transition-colors hover:bg-gray-200 text-center"
                    href="#"
                >
                    Prueba de conducción
                </a>
            </div>
        </footer>
        
        
    </div>

    <div class="absolute top-0 bottom-0 z-10 h-full w-full">
        <img
            src="/public/model-s.avif"
            alt="tesla-model-S"
            class="h-full w-full object-cover object-center"
        />
    </div>
</section>
