<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="black"
    >
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-[100px] text-[40px] font-medium">Solar y Powerwall</h2>
            <p class="text-black text-[12px]">
                Energía para todos
            </p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-[138px]">
            <div>
                <a
                    class="w-60 bg-gray-900 text-[12px] rounded font-medium text-white px-4 py-2 inline-block transition-colors hover:bg-gray-600 text-center"
                    href="#"
                >
                    Saber más
                </a>
            </div>
        </footer>
        
        
    </div>

    <div class="absolute top-0 bottom-0 z-10 h-full w-full">
        <img
            src="/public/powerwall.avif"
            alt="powerwall"
            class="h-full w-full object-cover object-center"
        />
    </div>
</section>
